[Unit]
Description=Volumio-Oled-UI
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=python3 -u /home/volumio/Volumio-Oled-UI/nr1ui.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nr1ui
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
